//output: index.html
html
  head
    meta(charset='UTF-8')
    title DataPulse
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet prefetch', href='https://cdn.rawgit.com/Dogfalo/materialize/master/dist/css/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    
  body
    .intro.blue.darken-3.z-depth-1
      h1.grey-text.text-lighten-5 DataPulse
    .container
      .row
        .col.s12.m12.l12
          .card
            .card-title.center-align.my-title What is DataPulse?
            .card-content <strong>DataPulse</strong> is a service that <strong>assists</strong> medical monitors by preparing <strong>customized</strong> Excel data listings that are <strong>automated</strong> to instantly flag <strong>data of interest</strong> such as prohibited medications, restricted concomitant medications, ongoing AEs, SAEs, AEs of interest etc.
      .row
        .col.s12.m12.l12
          .card
            .card-title.center-align Features
            .card-content
              ul(class='collection with-header')
                li(class="collection-item valign-wrapper")
                  span(class="material-icons") settings
                  span(class="valign feature-item") Fully customizable solution for each client
                li(class="collection-item valign-wrapper")
                  span(class="material-icons") visibility
                  span(class="valign feature-item") Our programmatic approach improves accuracy of the medical review
                li(class="collection-item valign-wrapper")
                  span(class="material-icons") search
                  span(class="valign feature-item") Our algorithmns automatically flag key data
                li(class="collection-item valign-wrapper")
                  span(class="material-icons") phone
                  span(class="valign feature-item") Get technical support directly from our developer team
                li(class="collection-item valign-wrapper")
                  span(class="material-icons") schedule
                  span(class="valign feature-item") Quick turn-around when processing scheduled data
      .row
        .col.s12.m12.l12
          .card
            .card-title.center-align Demo
            .card-content
              .row
                .col.s12.m12.l6
                  .card
                    .card-image
                      img(class='materialboxed' src='blob/gh-pages/Before-hidden.png' data-caption='Before')
                    .card-content.screenshot-caption.center-align Before Processing... hours of line-by-line review
                .col.s12.m12.l6
                  .card
                    .card-image
                      img(class='materialboxed' src='blob/gh-pages/After-hidden.png' data-caption='After')
                    .card-content.screenshot-caption.center-align After Processing... just click to filter
      .row
        .col.s12.m12.l12
          .card
            .card-title.center-align Contact
            .card-content.center-align
              a(href="mailto:DataPulseService@gmail.com") DataPulseService@gmail.com
            
    footer.page-footer.grey.darken-3
      .footer-copyright
        .container &copy;Copyright 2016
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='https://cdn.rawgit.com/Dogfalo/materialize/master/dist/js/materialize.min.js')
    script(src='blob/gh-pages/index.js')
