//output: index.html
html
  head
    meta(charset='UTF-8')
    title DataPulse
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet prefetch', href='https://cdn.rawgit.com/Dogfalo/materialize/master/dist/css/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    
  body
    .intro.blue.darken-3.z-depth-1
      h1.grey-text.text-lighten-5 DataPulse
      h5 Medical Monitoring Data Solutions
    .container
      .row
        .col.s12.m12.l12
          .card
            .card-title.center-align.my-title What is DataPulse?
            .card-content <strong>DataPulse</strong> is a service that <strong>assists</strong> medical monitors by preparing <strong>customized</strong> Excel data listings that are <strong>automated</strong> to instantly flag <strong>data of interest</strong> such as prohibited medications, restricted concomitant medications, ongoing AEs, SAEs, AEs of interest etc.
      .row
        .col.s12.m12.l12
          .card
            .card-title.center-align Solutions We've Already Developed
            .card-content
              ul(class='collection with-header')
                li(class="collection-item valign-wrapper")
                  span(class="material-icons") visibility
                  span(class="valign feature-item") Flag key data points
                li(class="collection-item valign-wrapper")
                  span(class="material-icons") spellcheck
                  span(class="valign feature-item") Handle misspellings in the dataset
                li(class="collection-item valign-wrapper")
                  span(class="material-icons") comment
                  span(class="valign feature-item") Note tracking
                li(class="collection-item valign-wrapper")
                  span(class="material-icons") dashboard
                  span(class="valign feature-item") Custom interactive Excel layouts 
                li(class="collection-item valign-wrapper")
                  span(class="material-icons") phone
                  span(class="valign feature-item") Contact us about additional needs for your project
      .row
        .col.s12.m12.l12
          .card
            .card-title.center-align Demo
            .card-content
              .row
                .col.s12.m12.l6
                  .card
                    .card-image
                      img(class='materialboxed' src='Before-hidden.PNG' data-caption='Before')
                    .card-content.screenshot-caption.center-align Before Processing... hours of line-by-line review
                .col.s12.m12.l6
                  .card
                    .card-image
                      img(class='materialboxed' src='After-hidden.PNG' data-caption='After')
                    .card-content.screenshot-caption.center-align After Processing... just click to filter
      .row
        .col.s12.m12.l12
          .card
            .card-title.center-align Contact
            .card-content.center-align
              a(href="mailto:DataPulseService@gmail.com") DataPulseService@gmail.com
            
    footer.page-footer.grey.darken-3
      .footer-copyright
        .container &copy;Copyright 2016
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='https://cdn.rawgit.com/Dogfalo/materialize/master/dist/js/materialize.min.js')
    script(src='index.js')
