body, html
{
	background-color: #EDEDED !important;
}

.intro
{
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-bottom: 10px;
}

.intro h1
{
	font-weight: 200;
	text-transform: uppercase;
}

.intro h5
{
	text-transform: uppercase;
	background-color: #f5f5f5;
	padding: 10px;
	color: #333333;
	display: inline-block;
	font-size: 1.2rem;
}

.card{
	margin-bottom: 10px!important;
}

.card-title{
	font-weight: 400!important;
}

.feature-item{
	margin-left: 4%;
}

.screenshot-caption{
	padding: 10px!important;
	font-size: 1.2rem!important;
}
